[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/int_fastdiv"]
	path = external/int_fastdiv
	url = https://github.com/milakov/int_fastdiv.git
[submodule "external/cuda_jit"]
	path = external/cuda_jit
	url = https://github.com/senior-zero/cuda_jit.git
